<div class="jumbotron text-center">
  <h1>NFT Crowdfunding for a green world.</h1>
  <p>Buy and Trade ECO Cards to make your project happen and help fight climate change! Back projects / Create projects in easy way!</p>
  <a href="/projects" class="btn pledge-button">View Projects</a>
</div>